.sidebar {
    background: #1a1a2e !important;
}

.nav-bar {
    background: #1a1a2e !important;
}

.page__content-wrapper {
    background: #121212 !important;
}

.sliding-panel__header {
    background: #121212 !important;
}

.sliding-panel__body {
    background: #121212 !important;
}

.argo-button--base {
    color: #FFFFFF !important;
    background: #007bff !important;
}

.argo-button--base:hover {
    opacity: 0.8 !important;
}

.argo-button--base:focus {
    border-color: #FFFFFF !important;
}

.argo-button--base-o {
    color: #007bff !important;
    box-shadow: inset 0 0 0 1px #007bff !important;
}

.argo-button--base-o:hover,
.argo-button--base-o:focus {
    color: #fff !important;
    background-color: #007bff !important;
}

.top-bar__title {
    color: #42a5f5 !important;
}

a {
    color: #42a5f5 !important;
}

.settings-overview__redirect-panel__title {
    color: #42a5f5 !important;
}

.selected {
    color: #42a5f5 !important;
}

.tabs__indicator {
    background: #42a5f5 !important;
}
